/* General styles for the body and container */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px 10px; /* Add padding to the sides */
    max-width: 1200px; /* Increase maximum width of the content */
    margin: 20px auto; /* Center the body content with smaller margins */
}

.main-container {
    margin-top: 20px; /* Add some space between the navbar and the main content */
    padding: 20px; /* Add padding for the main content */
    background-color: #ffffff; /* Add a background color for contrast */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);/* Optional: Add a subtle shadow for better aesthetics */
}

h1, h2, h3, h4, h5 {
    font-family: 'Georgia', serif;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

img, video {
    display: block;
    margin: 0 auto 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.content-section {
    margin-bottom: 40px;
}

.image-container {
    display: flex;
    justify-content: center; /* Centers the images with minimal space */
    gap: 10px; /* Adds a small gap between the images */
    align-items: center; /* Aligns the images vertically in the center */
}

.image-container img {
    max-width: 45%; /* Ensures the images fit within the container */
    height: auto; /* Maintains the aspect ratio of the images */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for better aesthetics */
}

iframe {
   width: 100%;
   height: 600px;
}

/* Navbar styling */
.navbar {
    background-color: #007bff; 
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.navbar-brand {
    color: #fff; 
    font-size: 1.5em; 
    font-weight: bold; 
    text-transform: uppercase; 
}

.navbar-nav .nav-link {
    color: #fff; 
    margin-left: 15px; 
    font-size: 1.1em; 
    transition: color 0.3s ease, background-color 0.3s ease; 
    padding: 10px 15px; 
    border-radius: 5px; 
}

.navbar-nav .nav-link:hover {
    color: #007bff; 
    background-color: #fff;
    text-decoration: none; 
}

.nav-item.active .nav-link {
    color: #007bff; 
    background-color: #fff; 
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1); 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Cambia el color del icono del menú */
}

.pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
embed {
    width: 100%;
    height: 100%;
}
